export(basis_random, basis_nearby, pp, evaluator, caller, search_geodesic, ecdf.indices)
importFrom(stats, integrate, median, optimize, pnorm, princomp, rnorm, uniroot)
importFrom(randtoolbox, sobol)
import(trust)
